
.sidebar-icon {
    margin-left: 20px;
}

.fixed-width-icon {
    width: 25px !important;
    text-align: left;
}

.sidebar-text {
    display: flex;
    align-items: center; 
    margin-left: 15px;
}

.download-button {
    display: flex; 
    align-items: center; 
    margin-left: 15px; 
    color: #007bff;
}

/* logo */
.skin-blue .main-header .logo {
    background-color: #50A5EA;
    color: #1B2A3A;
    # font-family: "Georgia", Times, "Times New Roman";
    # font-weight: bold;
    font-size: 24px;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
    background-color: #50A5EA;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
    background-color: #50A5EA;
}

/* main sidebar */
.skin-blue .main-sidebar {
    background-color: #2E3537;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
    background-color: #316590;
    color: #FFFFFF;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
    background-color: #2E3537;
    color: #FFFFFF;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
    background-color: #438BC5;
}

/* body */
.content-wrapper, .right-side{
    background-color: #ffffff; 
}

.row {
    verticle-align: middle;
}
